<div class="col-sm-4">
    <h2> Product Add </h2>
    <div class="mb-4">
        <input [(ngModel)]="title" class="form-control" placeholder="Title" />
    </div>
    <div class="mb-4">
        <input [(ngModel)]="price" class="form-control" placeholder="Price" />
    </div>
    <button *ngIf="index == -1 " (click)="fncInsert()" class="btn btn-success">Insert</button>
    <button *ngIf="index != -1 " (click)="fncUpdate()" class="btn btn-warning">Update</button>
</div>


<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of products; let i = index;" >
        <th scope="row"> {{ i+1 }} </th>
        <td> {{ item['title'] }} </td>
        <td> {{ item['price'] }} </td>
        <td>
            <button (click)="fncDataRemove(i)" class="btn btn-danger btn-sm" >Delete</button>
        </td>
        <td>
          <button (click)="fncDataUpdate(i)" class="btn btn-warning btn-sm" >Update</button>
        </td>
      </tr>
      
    </tbody>
  </table>